.file_input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .file_input label {
    background-color: #007bff; /* Background color for the label */
    color: #fff; /* Text color for the label */
    padding: 10px 15px; /* Padding for the label */
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

  .file_input label:hover {
    background-color: #0056b3; /* Change the background color on hover */
  }
  
  .cancel_button {
    margin-top: 10px; /* Adjust the spacing between the input and the button */
    background-color: #ff0000; /* Background color for the cancel button */
    color: #fff; /* Text color for the cancel button */
    padding: 10px 15px; /* Padding for the cancel button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel_button:hover {
    background-color: #d60000; /* Change the background color on hover */
  }

 .file_input input[type="file"] {
    display: none; /* Hide the default file input */
  }