.posts{
    border-bottom: 1px solid rgb(38 38 38);
    padding: 1.25rem;
    cursor: pointer;
    transition:  0.3s ease;
}

.posts:hover{
    background-color: rgb(23 23 23);
}

.posts-comments{
    border-bottom: 1px solid rgb(38 38 38);
    padding: 1.25rem;
    cursor: pointer;
    transition:  0.3s ease;
    width: 90%;
    margin-left: 30px;
}

.posts-comments:hover{
    background-color: rgb(23 23 23);
}

.comments-reply{
    border-bottom: 1px solid rgb(38 38 38);
    padding: 1.25rem;
    cursor: pointer;
    transition:  0.3s ease;
    width: 80%;
    margin-left: 70px;
}

.comments-reply:hover{
    background-color: rgb(23 23 23);
}

.user-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem
}

.name{
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.name:hover{
    text-decoration: underline;
}

.at-name{
    color:rgb(115 115 115);
    cursor: pointer;
}

.at-name:hover{
    text-decoration: underline;

}

.time{

    font-size: small;
    background-color: rgb(115 115 115);
}

.text{
    color: white;
    margin-top: 0.25rem;
    font-size: 1rem;
    background-color: inherit;
    
}




.icons{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-top: 0.75rem;
 gap:5rem;
 cursor: pointer;
}

.comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(115 115 115);
    gap: 0.5rem;
    cursor: pointer;
}

.like{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgb(115 115 115);
    gap: 0.5rem;
    cursor: pointer;
}

.edit{
    display: flex;
    align-items: center;
    color: rgb(115 115 115);
}
.delete{
    display: flex;
    align-items: center;
    color: rgb(115 115 115);
}

.disabled{
    opacity: 0.9;
    pointer-events: none;
}
.user-profile-container{
 display: flex;
 flex-direction: row;
 gap: 1rem;
 margin-bottom: 20px;
}