.button{
    cursor: pointer;
     background-color: rgb(14 165 233);
     padding: 10px;
     border:none;
    font-weight: 600;
    border-radius: 15px;
    

}

.post_button{
    margin: 5px; 
    padding: 7px;
   
}

.post_button:hover{
    opacity: 0.8;
}