.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
  }
  
  .file_input {
    margin: 10px;
  }
  
  .file_input input[type="file"] {
    display: none;
  }
  
  .file_input label {
    display: block;
    padding: 10px;
   
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  .button_group{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
  .file_input label:hover {
    background-color: #2980b9;
  }
  
  .save_button , .cancel_button{
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;


  }


  
  
  .save_button :hover {
    background-color: #27ae60;
   
  }
 .cancel_button{
  background-color: red;
 }

 .cancel_button:hover{
  background-color: rgba(255, 0, 0, 0.637);
 }
