.user-image{
    position: relative;
    height: 11rem;
    background-color: rgb(64 64 64);
    display: flex;
    justify-content: center;
}

.profile-image{
position: absolute; 
left: 1rem; 
bottom: -4rem; 
top: 9rem;

}