.main_container{
 grid-column:3;
 height: 100%;
}

.chatForm{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 20px;
    background-color: black; 
    border-top: 1px solid rgb(38 38 38);
   

}

.text{
    /* Take up the remaining space in the row */
    padding: 10px; /* Add padding for spacing inside the textarea */
    border-radius: 4px; /* Add rounded corners if desired */
    background-color: black;
    border-style: none;
    height:100%;
    resize: none;
    width: 28%;
    font-size: 20px;
    color: white

}

.text:focus {
    outline: none; /* Remove the default focus outline if desired */
  }
  .text::placeholder {
    font-size: 20px; /* Set the font size you want */
    justify-self: center;
  }

  .send_icon:hover{
    cursor: pointer;
    opacity: 0.8;
  }